@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: rgba(49,55,82,1);
  text-align: center;
}

@media (max-width: 768px) {
  body {
    padding-inline: 1em;
  }
}